<form (ngSubmit)="onSubmit()" class="w-[27rem] p-6 rounded-lg shadow-md">
    <div class=mb-4>
        <mat-form-field class="w-full">
            <mat-label class="text-gray-2000">Name</mat-label>
            <input matInput type="text" 
            placeholder="Name" 
            name="name"
            [(ngModel)]="equipmentItem.name"
            required=""
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"/>
        </mat-form-field>
    </div>
    <div class=mb-4>
        <mat-form-field class="w-full">
            <mat-label class="text-gray-2000">Condition</mat-label>
            <mat-select (selectionChange)="selectCondition($event)">
                <mat-option value="0">{{itemConditions[0].viewValue}}</mat-option>
                <mat-option value="1">{{itemConditions[1].viewValue}}</mat-option>
                <mat-option value="2">{{itemConditions[2].viewValue}}</mat-option>
                <mat-option value="3">{{itemConditions[3].viewValue}}</mat-option>
                <mat-option value="4">{{itemConditions[4].viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div>
        <button mat-raised-button color="primary" type="submit">
            Create 
        </button>
    </div>
</form>
