<mat-card class="p-1 top-10">
    <mat-card-header>
        <mat-card-title>
            {{item.name}}
        </mat-card-title>
        <mat-card-subtitle>Id: {{item.id}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p class="pt-2">
            Condition: {{getItemCondition()}}
        </p>
      </mat-card-content>

    <mat-card-actions class="flex justify-between">
        <button mat-icon-button aria-label="edit" class="">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="delete" class="">
            <mat-icon>delete</mat-icon>
          </button>
    </mat-card-actions>
</mat-card>
